<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader">{{description}}</span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <container>
              <row>
                <columns>
                  <center><h1><img src="\{{ $message->embed(resource_path('emails/src/assets/img/email-header.jpg')) }}"  alt="Pony.fm - Unlimited Pony Music"/></h1></center>
                </columns>
              </row>
              {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}}
              {{> body}}
              <row><columns></columns></row>
              <row>
                <columns large="7">
                  <h4><small>Why did I get this email?</small></h4>
                  <p><small>Pony.fm can now email your notifications to you! Change what
                    you get email notifications for in your <a href="\{{ $accountSettingsUrl }}">account settings</a>.
                    You can also <a href="\{{ $unsubscribeUrl }}" target="_blank">unsubscribe</a> from this kind of email.</small></p>
                </columns>
                <columns large="5">
                  <br>
                  <p>
                    <small><strong>Any questions?</strong> Reply to this email
                      or hit us up at <a href="\{{ $replyEmailAddress }}">\{{ $replyEmailAddress }}</a>!
                    </small>
                  </p>
                  <p><small>Sent with &#9829; to \{{ $recipientName }}</small></p>
                </columns>
              </row>
              <row>
                <columns>
                  <p class="text-center"><small>Pony.fm, a Poniverse project<br>
                    248-1641 Lonsdale Avenue, North Vancouver, BC V7M 2J5, Canada</small></p>
                </columns>
              </row>
            </container>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>
