---
layout: notification
---

<container>
  <row>
    <columns>
      <p>\{{ $creatorName }} left a comment on your \{{ $resourceType }},
        <a href="\{{ $notificationUrl }}" target="_blank"><em>\{{ $resourceTitle }}</em></a>!</p>
    </columns>
  </row>

  <a href="\{{ $notificationUrl }}" target="_blank">
    <row>
      <columns small="4" large="2" class="large-offset-2">
        <img src="\{{ $message->embed($thumbnailUrl) }}" />
      </columns>
      <columns small="8">
        <p><small>\{{ $creatorName }} wrote,</small></p>
        <p>\{{ $comment }}</p>
      </columns>
    </row>
    <row>
      <columns>
        <center>
          <button href="\{{ $notificationUrl }}" class="small-expanded">Reply to \{{ $creatorName }}!</button>
        </center>
      </columns>
    </row>
  </a>
</container>
