# Adapted from: http://editorconfig.org/

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 space indentation and default charset
[*.{php,coffee,js,less,css,html}]
charset = utf-8
indent_style = space
indent_size = 4

# One-offs

[{package.json}]
indent_style = space
indent_size = 2

[{composer.json}]
indent_style = space
indent_size = 4
