* text=auto

resources/environments/.env.stage filter=git-crypt diff=git-crypt
resources/environments/.env.production filter=git-crypt diff=git-crypt

*.css linguist-vendored
*.less linguist-vendored
