.small-logo {
  display: none;
}

@media only screen and (max-width: 768px) {
  html, body {
    overflow: hidden !important;
  }

  body > header {
    margin-top: 64px;
  }

  .site-content {
    margin-left: 0px;
    overflow: scroll;
    padding: 5px;
  }

  .site-body {
    overflow-x: hidden;
    padding-top: 0;
  }

  .now-playing {
    margin-left: 0;
    left: 0;
    width: 100%;
  }

  .user-details {
    position: fixed;
    top: 0;
    right: 0 !important;
    z-index: 1002;
    margin-right: 10px !important;
    margin-top: 10px;
  }

  .top-bar {
    margin-left: 0;
    box-shadow: 0 0 0 transparent;

    .burger-wrapper {
      display: block;
      top: 15px;
      left: 15px;

      i {
        font-size: 32px;
        color: #fff;
      }
    }

    .logo {
      text-align: center;
      vertical-align: middle;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      width: 160px;
      padding-top: 16px;

      > img {
        max-height: 90%;
      }
    }
  }

  .sidebar {
    left: -(@pfm-sidebar-size + 10);
    transform: translateX(0px) translateZ(0);
    perspective: 1000;
    backface-visibility: hidden;
    will-change: transform;
    z-index: 1011;
    height: ~"calc(100% - 64px)";
    box-shadow: 0 8px 8px rgba(0,0,0,0.5);
    overflow-y: scroll;

    > a {
      display: none;
    }

    li {
      font-size: 12pt;
      a {
        padding: 13px 25px;
      }
      h3 a {
        margin-top: -12px;
      }
    }

    &.animated {
      transition: transform 0.3s ease;
    }

    &.active {
      transform: translateX(@pfm-sidebar-size + 10) translateZ(0);
    }
  }

  .search-button {
    display: block;
    position: absolute;
    font-size: 22px;
    top: 0;
    left: 60px;
    color: #fff;
    padding: 13px 7px 18px;

    i {
      font-size: 30px;
    }

    &:hover, &:focus, &:active {
      color: #fff;
    }
  }

  .search {
    display: none;
    width: 100%;
    margin-top: 14px;
  }

  input.search-input {
    background: lighten(@pfm-logo-purple, 10%);
    border-radius: 0;
  }

  .search-results {
    width: 100%;

    .-column1, .-column2 {
      padding: 0;
      width: 100%;
      float: none;
      clear: both;
    }
  }

  .track-player {
    margin-right: 0px !important;

    .inner {
      margin-left: 0px !important;
    }

    .image {
      display: none;
    }

    .buttons {
      margin-top: 15px;
      margin-right: 5px;

      li.volume, li.status  {
        display: none;
      }

      li {
        font-size: 20px;
        a {
          width: 40px;
        }
      }
    }

    .song, .artist {
      margin-bottom: 4px;
      margin-left: 5px;
    }

    .transport {
      border-radius: 0px !important;
      margin-top: 4px;
      height: 10px;
      left: 0;
      width: 100%;
      bottom: 55px;

      .bar, .loader-bar {
        border-radius: 0px;
      }
    }
  }

  .dropdowns {
    margin-bottom: 0px;
    > li {
      margin-bottom: 10px;
      > .btn {
        font-size: 10pt;
      }
    }
  }
  .details-columns {
    .cboxElement {
      display: none;
    }
    .right {
      float: none;
      padding: 0px;
      width: auto;
    }
    .left {
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 10px;
    }
  }

  .stretch-to-bottom {
    overflow-y: initial !important;
  }

  .artist-details {
    margin: -5px;
    padding-bottom: 10px;

    > .stretch-to-bottom {
      padding: 0 10px;
      .col-md-6 {
        padding: 0px;
      }
    }

    > header {
      margin: 0 !important;
      padding: 25px 25px 50px !important;

      > img {
        float: none !important;
        display: block;
        width: 50% !important;
        height: 50% !important;
        margin-left: auto;
        margin-right: auto;
      }

      > .artist-right {
        margin-left: 0px !important;
        margin-top: 15px !important;
        text-align: center;

        > h1, .follower-count {
          margin-left: auto;
          margin-right: auto;
        }

        > .btn {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .tabs li a {
    padding: 10px 13px;
  }

  .track-details {
    .single-player {
      &.visible-xs-block {
        float: none;
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
      }

      a {
        font-size: 22pt;
        background: rgba(0, 0, 0, 0.2);
      }
    }

    header {
      margin-bottom: 0px;
      h1 {
        font-size: 16pt;
      }
      h2 {
        font-size: 11pt;
      }
      h1, h2 {
        margin-left: 0px !important;
      }
    }
  }

  .two-pane-view.closed .account-tracks-listing li, .two-pane-view.closed .account-albums-listing li {
    width: 50% !important;
  }

  .site-content > .ui-view.loading {
    margin: 0px -5px;
  }

  .track-editor {
    form {
      padding: 5px;
    }

    .row .form-row {
      width: 97%;
      margin-left: 5px !important;
      margin-right: 5px;
    }
  }

  .license-grid li {
    width: 50%;
    div {
      margin: 0;
    }
  }

  .notification-pullout {
    left: 0;
    right: 0;
    top: 64px;
    width: 100%;
    height: ~"calc(100% - 128px)";
    transform: translateY(-120%) translateZ(0);

    &.active {
      transform: translateY(0) translateZ(0);
    }

    .notif-container {
      padding: 10px;
    }
  }

  .notification-menu {
    position: fixed;
    top: 0;
    right: 60px !important;
    font-size: 22px;
    margin-right: 0 !important;
    margin-top: 8px !important;

    a {
      padding: 13px 7px 22px;
    }

    a, a:active, a:hover, a:focus {
      color: #fff;
    }

    .counter {
      bottom: 0;
      right: -1px;
    }
  }

  .news {
    display: none;
  }

  .two-pane-view.open {
    .list {
      width: auto;
      float: none;
      margin-bottom: 10px;
    }

    .editor {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .tabs {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    white-space: nowrap;
    border-bottom: 0;
    height: 44px;

    &.header {
      height: 48px;
      margin-top: -48px;
    }

    li {
      a {
        border-bottom: 4px solid #ddd;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &.fixed {
      position: fixed;
      background: #84528a;
      top: 64px;
      left: 0;
      height: 44px;
      width: 100%;
      border-bottom: 0;
      z-index: 600;

      li {
        a {
          background: transparent;
          color: #fff;
          border-bottom: 0;
        }

        &.active a {
          background: transparent;
          color: #fff;
          border-bottom: 4px solid #b885bd;
        }
      }
    }
  }

  .secondary-content {
    margin-top: 5px;
  }

  .account-tabs {
    margin: -49px 0px 5px;
  }

  .modal-dialog {
    width: 95%;
  }
}

// Super small phones like the iPhone 5
@media only screen and (max-width: 370px) {
  .default-logo {
    display: none;
  }

  .small-logo {
    display: block;
  }

  .notification-menu {
    top: 0;
    right: 55px !important;
    margin-top: 14px !important;
  }

  .top-bar .logo {
    margin-left: 55px;
    height: 52px;
    width: 122px;
    padding-top: 18px;
  }

  .search {
    margin-top: 12px;
  }

  .search-button {
    right: 90px;
    left: initial;
    padding: 15px 7px !important;
  }

  .top-bar .burger-wrapper {
    top: 17px;
    left: 11px;
  }

  .albums-listing, .playlists-listing, .users-listing {
    width: 100% !important;

    li {
      width: 97% !important;
      margin: 5px;

      a img {
        width: 60px;
        float: left;
      }

      .info {
        margin-left: 60px;
        padding: 2px 5px;
      }
    }
  }
  .modal-dialog {
    width: 100%;
  }
}

@media only screen and (max-height: 500px) {
  .x-attribution {
    position: static !important;
  }
}
