.prettyprint .str { color: #65B042; } /* string  - green */
.prettyprint .kwd { color: #E28964; } /* keyword - dark pink */
.prettyprint .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
.prettyprint .typ { color: #89bdff; } /* type - light blue */
.prettyprint .lit { color: #3387CC; } /* literal - blue */
.prettyprint .pun { color: #fff; } /* punctuation - white */
.prettyprint .pln { color: #fff; } /* plaintext - white */
.prettyprint .tag { color: #89bdff; } /* html/xml tag    - light blue */
.prettyprint .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
.prettyprint .atv { color: #65B042; } /* html/xml attribute value - green */
.prettyprint .dec { color: #3387CC; } /* decimal - blue */
