<div class="pagination" ng-if="totalPages > 1">
    <ul>
        <li ng-class="{disabled: !prevPage}"><a href="#" ng-click="gotoPage(prevPage);" pfm-eat-click>Prev</a></li>
        <li ng-repeat="page in pages track by page" ng-class="{active: page == currentPage}">
            <a href="#" ng-click="gotoPage(page);" pfm-eat-click>{{page}}</a>
        </li>
        <li ng-class="{disabled: !nextPage}"><a href="#" ng-click="gotoPage(nextPage);" pfm-eat-click>Next</a></li>
        <li class="pagination-jump">
            <a href="#" ng-click="showPageSelector();" ng-hide="pageSelectorShown" pfm-eat-click>Jump&hellip;</a>
            <form ng-submit="jumpToPage(inputPageNumber)" ng-show="pageSelectorShown">
                <input type="number" id="pagination-jump-destination" ng-model="inputPageNumber" ng-blur="hidePageSelector()" />
                <input type="submit" />
            </form>
        </li>
    </ul>
</div>

<div class="stretch-to-bottom">
    <pfm-tracks-list tracks="tracks" class="three-columns"></pfm-tracks-list>
</div>
