<h1>User Management</h1>

<div class="stretch-to-bottom">

    <section class="user-creator">
        <h2>Create an archived artist profile</h2>
        <p>Archived profiles are for organizing music by artists who aren&#39;t on Pony.fm themselves. They can always be claimed by the artist and converted to a &quot;proper&quot; profile later.</p>

        <pfm-user-creator></pfm-user-creator>
    </section>

    <section class="user-search">
        <h2>Search for a user by name</h2>
        <p>Use the universal search in the sidebar. /)</p>
    </section>

    <section class="user-merger">
        <h2>Merge profiles</h2>
        <p>Ask a Pony.fm developer or sysadmin to run the following for you: <pre>./artisan accounts:merge</pre></p>
    </section>
</div>
