server {
  listen      80 default_server;

  server_name ponyfm-dev.poni api.ponyfm-dev.poni;
  access_log  /vagrant/storage/logs/system/nginx-access.log;
  error_log   /vagrant/storage/logs/system/nginx-error.log;
  root        /vagrant/public;

  client_max_body_size 220M;

  location / {
    index index.php;

    try_files $uri $uri/ /index.php$is_args$args;
  }

  location ~* \.(?:ttf|ttc|otf|eot|woff|font.css)$ {
    add_header "Access-Control-Allow-Origin" "*";
  }

  expires off;

  location /vagrant/storage/app/datastore {
    internal;
    alias /vagrant/storage/app/datastore/;
  }

  location ~* \.php$ {
    try_files $uri = 404;

    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_index   index.php;
    fastcgi_pass    unix:/run/php/php7.2-fpm.sock;

    include fastcgi_params;
    fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
    fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
  }
}
