[program: ponyfm-worker]
process_name = %(program_name)s_%(process_num)02d
command = php /vagrant/artisan queue:listen --queue=default,notifications,indexing --sleep=3 --tries=3
autostart = true
autorestart = true
user = www-data
numprocs = 4
redirect_stderr = true
stdout_logfile = /vagrant/storage/logs/worker.log
