[program: ponyfm-worker]
process_name = %(program_name)s_%(process_num)02d
command = php /vagrant/artisan queue:listen --queue=default,notifications,indexing --sleep=5 --tries=3
autostart = true
autorestart = true
user = vagrant
numprocs = 2
redirect_stderr = true
stdout_logfile = /vagrant/storage/logs/worker.log
