<form novalidate ng-submit="saveAlbum()">
    <ul class="toolbar">
        <li>
            <button type="submit" class="btn btn-default" ng-class="{disabled: (!isDirty && !isNew) || isSaving, 'btn-primary': isDirty || isNew}">
                <span ng-show="isNew">Create Album</span>
                <span ng-hide="isNew">Save Changes</span>
                <i ng-show="isSaving" class="fa fa-cog fa-spin fa-lg"></i>
            </button>
        </li>
        <li class="delete" ng-show="!isNew"><a ng-class="{disabled: isSaving}" class="btn btn-danger" href="#" ng-click="deleteAlbum()" pfm-eat-click>Delete Album</a></li>
    </ul>
    <div class="stretch-to-bottom">
        <md-input-container>
            <label>Title</label>
            <input ng-disabled="isSaving" ng-change="touchModel()" type="text" ng-model="album.title">
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <textarea ng-disabled="isSaving" ng-change="touchModel()" ng-model="album.description"></textarea>
        </md-input-container>
        <md-input-container ng-show="isAdmin">
            <label>User</label>
            <input ng-disabled="isSaving" ng-change="touchModel()" type="text" ng-model="album.username">
        </md-input-container>
        <div class="form-row" ng-class="{'has-error': errors.cover != null}">
            <label class="strong">Album Cover: </label>
            <pfm-image-upload set-image="setCover" image="album.cover" user-id="album.user_id"></pfm-image-upload>
        </div>
        <div class="form-row track-selector">
            <a pfm-popup="track-selector,right" pfm-popup-close-on-click href="#" class="btn btn-sm pull-right btn-info">Add Tracks</a>
            <label class="strong">Album Tracks</label>
            <div id="track-selector" class="pfm-popup">
                <ul>
                    <li ng-repeat="track in data.tracksDb track by track.id" ng-class="{selected: trackIds[track.id]}">
                        <a pfm-eat-click href="#" ng-click="toggleTrack(track); $event.stopPropagation();">{{::track.title}}</a>
                    </li>
                </ul>
            </div>

            <ul class="album-track-listing" as-sortable ng-model="tracks">
                <li ng-repeat="track in tracks track by track.id" as-sortable-item>
                    <div>
                        <span class="btn btn-sm pull-left handle" as-sortable-item-handle><i class="material-icons">swap_vert</i></span>
                        <a href="#" class="btn btn-sm pull-right btn-danger" ng-click="toggleTrack(track)" pfm-eat-click><i class="material-icons">delete</i></a>
                        <span>{{::track.title}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>
