<form ng-submit="updateAccount()" class="pfm-form account-settings-form thin">
    <div layout="row" class="button-bar">
        <md-button class="md-raised md-primary" type="submit" ng-class="{disabled: !isDirty || isSaving, 'btn-primary': isDirty}">
            Save Changes
        </button>
    </div>

    <div layout="row" layout-xs="column">
        <md-input-container flex-gt-sm>
            <label>Display Name</label>
            <input type="text" ng-disabled="isSaving" ng-change="touchModel()" id="display_name" ng-model="settings.display_name" />
        </md-input-container>

        <md-input-container flex-gt-sm>
            <label>Profile URL</label>
            <input type="text" ng-disabled="isSaving" ng-change="touchModel()" id="slug" ng-model="settings.slug" />
        </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Bio</label>
            <textarea id="bio" ng-model="settings.bio" ng-disabled="isLoading" ng-change="touchModel()"></textarea>
        </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
        <md-input-container flex-gt-sm>
            <md-checkbox ng-disabled="isLoading" ng-model="settings.can_see_explicit_content"> Can See Explicit Content</md-checkbox>
        </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
        <md-input-container flex-gt-sm>
            <md-checkbox ng-change="touchModel()" ng-disabled="isLoading" id="uses_gravatar" type="checkbox" ng-model="settings.uses_gravatar">Use Gravatar</md-checkbox>
        </md-input-container>
    </div>
    <div layout="row" layout-xs="column" ng-show="settings.uses_gravatar">
        <md-input-container flex-gt-sm>
            <label>Gravatar email</label>
            <input type="text" ng-disabled="isSaving" ng-model="settings.gravatar" />
        </md-input-container>
    </div>
    <div layout="row" layout-xs="column" ng-show="!settings.uses_gravatar">
        <md-input-container flex-gt-sm>
            <pfm-image-upload set-image="setAvatar" image="settings.avatar_url" user-id="settings.id"></pfm-image-upload>
        </md-input-container>
    </div>
</form>
