<h1>Pony.fm FAQ</h1>
<div class="stretch-to-bottom">
    <h2>Why doesn't Pony.fm support MP3 uploads?</h2>

    <p>MP3 encoding is "lossy." Lossy means that, during the encoding
        process, quality gets sacrificed for a decrease in size.</p>

    <p>Pony.fm accepts lossless uploads, which put a "perfect" copy of
        your track in Pony.fm's file store. This is offered up for
        download on its own for audiophiles who like CD or better-than-CD
        sound quality, but starting from a lossless original also allows
        Pony.fm to transcode a song to other lossy formats with only one
        degree of loss.</p>


    <h2>Why isn't my file being accepted for upload?</h2>

    <p>Pony.fm analyzes all uploads to determine their format and check it
        against a whitelist; the file extension is ignored. Unfortunately,
        slight variations in AIFF and WAV files exist that need to be
        individually whitelisted.</p>

    <p>Most of these should have been nailed by now, but if yours isn't being
        accepted, contact <a href="mailto:logic@pony.fm" target="_blank">logic@pony.fm</a>
        with
        a
        copy of the file you&#39;re trying to upload and we&#39;ll sort it out!
    </p>


    <h2>How do I upload a song?</h2>

    <p>At the top right of your screen there should be a button titled
        "Upload" next to the "send feedback" one. Select the Upload button
        and a drop down menu will appear, select the first option titled
        "Track Uploader". You should now be on a screen displaying the
        uploader. Select the Green button titled "Add Files" and select your
        song from your computer. The track should now start its
        download.</p>

    <p>Please be aware that Pony.fm doesn't support MP3 uploads.</p>


    <h2>How do I set an avatar?</h2>

    <p>Avatars in Pony.fm use a free service called Gravatar. To learn more and
        set up your own Gravatar account, <a
            href="https://gravatar.com/" title="Gravatar" target="_blank">click
            here</a>!</p>

    <h2>Why the connection to MLP Forums?</h2>

    <p>MLP Forums is the web&#39;s largest <em>My
        Little Pony: Friendship is Magic</em> forum community. Formally
        linking the two sites together paves the way for a rich, cross-site
        community experience. Members of one site can easily jump into the
        other without the hassle of managing yet another account, and
        content can seamlessly be brought from MLP Forums to Pony.fm and
        vice versa in meaningful ways.</p>


    <h2>How do I send feedback to the developers?</h2>

    <p>Three ways! Choose whichever you're most comfortable with:</p>

    <ul>
        <li>Post your feedback in the <a
            href="https://mlpforums.com/forum/62-ponyfm/" title="Pony.fm Forum"
            target="_blank">official
            Pony.fm forum</a>.
        </li>
        <li>Email <a href="mailto:logic@pony.fm"
                     target="_blank">Logic</a>, Pony.fm&#39;s lead developer.
        </li>
        <li>Open a <a href="https://github.com/Poniverse/Pony.fm/issues"
                      target="_blank">GitHub issue</a>.
        </li>
    </ul>

    <p>All feedback is greatly appreciated on Pony.fm and we do our hardest
        to keep this site functional and to keep all of you happy.</p>


    <h2>What is the &quot;Poniverse&quot; and what does Pony.fm have to do with
        it?</h2>

    <p><a href="https://poniverse.net/"
          title="Poniverse: The Pony Supercommunity"
          target="_blank">Poniverse</a> is a
        network that
        links together several pony communities like <a
            href="https://mlpforums.com/" title="MLP Forums" target="_blank">MLP
            Forums</a>, <a
            href="http://equestria.tv/" title="Equestria.tv" target="_blank">Equestria.tv</a>,
        and <a
            href="http://poniarcade.com/" title="PoniArcade" target="_blank">PoniArcade</a>
        to form
        a
        &quot;supercommunity&quot; with something for everypony.</p>

    <p>Pony.fm is just one of those sites and it provides brony musicians with
        their own special corner to share their work with
        others and to receive feedback from other musicians, and in lots of
        cases to form collaborations that can end up in great
        partnerships.</p>


    <h2>How do I report someone?</h2>

    <p>Email <a href="mailto:logic@pony.fm" target="_blank">logic@pony.fm</a>
        with any
        moderation issues you have.</p>


    <h2>How do I download a song?</h2>

    <p>Click on the track that you are looking to download and you will
        notice to the right of the screen is a button titled "Downloads".</p>

    <p>Click this button and you will be brought a drop down menu with FLAC,
        MP3, OGG, AAC, and ALAC files for you to download.</p>

    <p>Select your preferred file type to start the download and it should
        all be smooth sailing from there.</p>

    <p><strong>Note:</strong> if &quot;Downloads&quot; button is greyed out,
        that means the artist has disabled downloads on that track.</p>
</div>
