<div>
    <h1>Pony.fm FAQ</h1>
    <div class="stretch-to-bottom">
        <ul class="faq-tos">
            <li><a href="#mp3">Why doesn't Pony.fm support MP3 files?</a></li>
            <li><a href="#not-accepted">Why isn't my file being accepted for Upload?</a></li>
            <li><a href="#upload">How do I Upload a song?</a></li>
            <li><a href="#avatar">How do you set an avatar?</a></li>
            <li><a href="#mlp-forums">Why the connection to MLP Forums?</a></li>
            <li><a href="#feedback">How do I send Feedback to the Developers?</a></li>
            <li><a href="#poniverse">What is the "Poniverse" and what does Pony FM have to do with it?</a></li>
            <li><a href="#stats">Can I view any site statistics?</a></li>
            <li><a href="#contact">How do I get in contact with other Musicians on Pony.fm?</a></li>
            <li><a href="#report">How do I report someone?</a></li>
            <li><a href="#download">How do I download an artist' song?</a></li>
        </ul>

        <a name="mp3"></a>
        <h2>Why doesn't Pony.fm support MP3 files?</h2>
        <p>MP3 encoding is "lossy." Lossy means that, during the encoding process, quality gets sacrificed for a decrease in size.</p>
        <p>Pony.fm does not provide only MP3's; it also provides OGG's and lossless FLAC's. Uploading a lossless file puts a "perfect" copy of your track in Pony.fm's file store, which can be offered up for download on its own for audiophiles who like CD or better-than-CD sound quality, but starting from a lossless original also allows Pony.fm to transcode a song to other lossy formats with only one degree of loss.</p>

        <p>Pony.fm accepts a lossless upload, which is converted to FLAC (if it isn't already FLAC) for storage. This leaves a "perfect," unblemished copy of the track in Pony.fm's file store.</p>
        <p>An MP3 file can be created from the FLAC. Minimal quality is lost because creating an MP3 from the FLAC is as good as creating an MP3 directly from your DAW.</p>
        <p>An OGG Vorbis file can be created from the FLAC. Minimal quality is lost because Pony.fm has a lossless copy of the track on file; thus, we don't have the "recompressing a compressed MP3" issue that is present if Pony.fm's "master file" was an MP3.</p>

        <a name="not-accepted"></a>
        <h2>Why isn't my file being accepted for Upload?</h2>
        <p>Pony.fm analyzes all uploads to determine their format and check it against a whitelist; the file extension is ignored. Unfortunately, slight variations in AIFF and WAV files exist that need to be individually whitelisted.</p>
        <p>The alpha should have nailed most of these by now, but if there are some that still are not being accepted, contact an admin with the specific file details and they will try to add them to the White List.</p>

        <a name="upload"></a>
        <h2>How do I Upload a song?</h2>
        <p>At the top right of your screen there should be a button titled "Upload" next to the "send feedback" one. Select the Upload button and a drop down menu will appear, select the first option titled "Track Uploader". You should now be on a screen displaying the uploader. Select the Green button titled "Add Files" and select your song from your computer. The track should now start its download.</p>
        <p>Please be aware that Pony.fm doesn't support MP3 uploads.</p>

        <a name="avatar"></a>
        <h2>How do you set an avatar?</h2>
        <p>Avatars in Pony.fm use a free service called Gravatar. To learn more about it, and setup your own Gravatar account, <a href="https://gravatar.com/" target="_blank">click here</a>!</p>

        <a name="mlp-forums"></a>
        <h2>Why the connection to MLP Forums?</h2>
        <p>MLP Forums is one of the web&#39;s largest and most well known <em>My Little Pony: Friendship is Magic</em> forum communities. Formally linking the two sites together paves the way for a rich, cross-site community experience. Members of one site can easily jump into the other without the hassle of managing yet another account, and content can seamlessly be brought from MLP Forums to Pony.fm and vice versa in meaningful ways.</p>

        <a name="feedback"></a>
        <h2>How do I send Feedback to the Developers?</h2>
        <p>At the top of your page should be a nifty little button to the left of the upload button that says "Send Feedback".</p>
        <p>Click this and a form will pop up, just follow the two simple instructions and enter the information needed and click "submit".</p>
        <p>All feedback is greatly appreciated on Pony FM and we do our hardest to keep this site functional and to keep all of you happy.</p>

        <a name="poniverse"></a>
        <h2>What is the "Poniverse" and what does Pony FM have to do with it?</h2>
        <p>The Poniverse is a network that links together several Brony sites ,such as MLP Forums, together to form a super community of sorts that provides sites that satisfy everyone's needs.</p>
        <p>Pony FM is just one of those sites and sets out to provide Brony Musicians with their own special corner to share their work with others and to receive feedback from other musicians, and in lots of cases to form collaborations that can end up in great partnerships.</p>

        <a name="stats"></a>
        <h2>Can I view any site statistics?</h2>
        <p>You sure can!</p>
        <p>At the bottom left of your screen there is a small button that says Site Stats that's nestled just below a button for Pony.fm Forum.</p>
        <p>Click on the "Site Stats" button and you will be taken to a screen that shows you graphs depicting the number of Track Views, Track Downloads, Track Plays and User Registrations.</p>

        <a name="contact"></a>
        <h2>How do I get in contact with other Musicians on Pony.fm?</h2>
        <p>On each user's screen there is a nifty little section where you can leave comments. This is used best for providing feedback and to show them your support, but if you plan on trying to start a collaboration and would prefer a more private means of communication, underneath the user Bio, there is a "send a message" which will utilise the "Personal Messenger" from MLP Forums to allow you to send a message to that artist.</p>

        <a name="report"></a>
        <h2>How do I report someone?</h2>
        <p>At the current time a report feature isn't quite installed into the site, however, email feld0@pony.fm and he would be glad to handle any moderating issues that you have. But to reiterate what was said before, there IS a report function in the works.</p>

        <a name="download"></a>
        <h2>How do I download an artist' song?</h2>
        <p>Click on the song that you are looking to download and you will notice to the right of the screen is a button titled "Downloads".</p>
        <p>Click this button and you will be brought a drop down menu with FLAC, MP3, OGG, AAC and ALAC file types for you to download.</p>
        <p>Select your preferred file type to start the download and it should all be smooth sailing from there.</p>
    </div>
    </div>
</div>
