<h1>MLP Forums Advertising Program</h1>
<div class="stretch-to-bottom">
    <h2>What does Pony.fm want from musicians?</h2>

    <p>Want <em>from</em> probably isn&#39;t the best way to put it. Pony.fm
        wants
        to provide brony musicians with the best package of services for hosting
        their music. We also want to provide musicians with free advertising
        space right on the homepage of
        <a href="https://mlpforums.com/" title="MLP Forums" target="_blank">MLP
            Forums</a>
        to be seen by its userbase of
        over 32,000 registered members. And we want to provide your listeners
        with the best experience to listen to your music. All we ask in exchange
        is for musicians to use Pony.fm as their home base of sorts for their
        music hosting needs. We understand musicians want to continue to upload
        their music to a wide array of music hosting sites, and we can respect
        that. All we ask is that you use your Pony.fm link any time you send
        someone to download or listen to a song.</p>

    <p><strong>Sound like an interesting proposal? Then read on!</strong></p>


    <h2>Why should I host my music on Pony.fm?</h2>

    <p>We understand brony musicians have a lot of choices when it comes to
        where to host their music. But Pony.fm is engineered specifically to be
        the best site for <em>My Little Pony</em> fan music!</p>

    <p>But why, specifically, should you choose Pony.fm? The better question
        is: why wouldn&#39;t you?</p>

    <p>Pony.fm exclusively hosts <em>My Little Pony</em> fan content! Ask
        yourself, how
        exactly would a user with no knowledge of your music find you from the
        SoundCloud or Bandcamp homepage? A search for Pony music will yield
        thousands of unspecific results. A genre search will fill the page with
        music unrelated to bronies. Unless the user is looking for your song
        specifically, it&#39;s difficult for them to find it.</p>

    <p>Pony.fm addresses this problem by removing the non-brony music from the
        equation entirely, allowing users to search for genres, styles, or even
        specify a specific show song they want to hear a remix of and get
        nothing but relevant results. This means Pony.fm's listeners spend less
        time searching for your music and more time listening to it!</p>

    <p>Pony.fm also provides you with features that sites like SoundCloud and
        Bandcamp don't. With Pony.fm, you can offer streaming and unlimited
        downloads. You'll never run out of free downloads again!</p>

    <p>Other artists have turned to file sharing sites for music downloads due
        to the limitations of sites like SoundCloud, but because of the risks of
        unknown downloads, many users simply will not trust links to file
        sharing sites. File sharing sites also have limitations. Since they host
        specific files, you&#39;re forced to provide an additional upload and
        link
        for every individual file type and quality you want to offer listeners.
        These sites are also designed only for linking to files from an external
        site, eliminating any chance that users will find your music through the
        file sharing site itself. On Pony.fm your listeners will be exposed to
        your branding, your music, your tags, and much more allowing you to get
        the most out of every valuable click to your download.</p>

    <p>Sites like YouTube aren&#39;t designed to be used as music hosting sites,
        playing significantly reduced quality lossy audio files to allow for the
        bandwidth of the video. Pony.fm, however, is designed for music,
        providing high quality music streams to your listeners.

        <strong>Pony.fm is all around the best balance of features designed
            specifically for brony musicians.</strong></p>

    <p>Beyond everything else, using Pony.fm brings you into the Poniverse
        supercommunity! Not only will users be able to give you valuable
        feedback right on Pony.fm&#39;s comment system, but with one login, you&#39;ll
        unlock all the features of the Poniverse network. Want to show off your
        music to MLP Forum&#39;s 32,000+ members? How would you like to get tips
        and
        tricks from fellow musicians in our Creative Resources area? Or would
        you just like to relax and spend some time talking about your favorite
        episode? Want to host a live-stream on Equestria.tv? All of that and
        much more is possible when you unlock the power of your Poniverse login!
        <strong>With Poniverse, Pony.fm isn&#39;t just a music hosting or
            download
            site -
            it&#39;s a community made for bronies, by bronies!</strong></p>


    <h2>All right, I get it; it&#39;s got some nice features. I&#39;ll upload
        some
        songs. But what&#39;s this about linking to my songs on Pony.fm? Why
        should
        I?</h2>

    <p>So you want more than just great features? We respect that, because we
        want more, too. Pony.fm already houses the largest collection of brony
        music on the planet as the official host of the MLP Music Archive, but
        we want to bring Pony.fm to the next level as the go-to place for people
        to find and post music in this fandom, and we need your support as a
        musician to do it!</p>

    <p>Every time you post a download link on YouTube or share a link to a song
        on Twitter, Facebook, or any other site, you&#39;re deciding which
        experience you want to give your listeners. We think Pony.fm provides
        the best experience for bronies to listen to fan music and we want you
        to share in that belief!</p>

    <p>So we&#39;re offering a special incentive to those that go the extra mile
        and help share Pony.fm with the community by using the Pony.fm link to
        their song whenever possible! <strong>We&#39;re <em>giving</em> you a
            banner
            ad right smack
            on the front page of Poniverse&#39;s largest site for absolutely
            free.</strong></p>

    <p><em>Why?</em> Because we want the members of MLP Forums to listen to your
        music
        on Pony.fm just as bad as you do! That advertisement to your music is
        also an advertisement to try Pony.fm, so it benefits everybody involved!
        You get users being sent directly to your music page on Pony.fm, we get
        new users checking out Pony.fm that are interested in your music, and
        the listener gets an awesome new site to find pony tunes on!</p>

    <h2>Okay&hellip; that&#39;s cool. I&#39;m in! What do I need to do?</h2>

    <p>It&#39;s super simple!</p>

    <ol>
        <li><a href="/account/uploader" target="_blank">Upload your music to
            Pony.fm.</a></li>

        <li>If you&#39;ve previously linked to song downloads to SoundCloud,
            Bandcamp,
            or a file sharing service in the description of YouTube videos,
            consider
            switching those links over to Pony.fm to ensure the best possible
            experience for your listeners!
        </li>

        <li>
            <p>Once it&#39;s uploaded, fill out <a
                href="https://goo.gl/forms/hmTUVjKNJj" target="_blank">this
                form</a>. This gets the
                ball rolling on
                getting you free advertising. To further expedite the process of
                getting
                you ad-space, include a 540x200 image for your advertisement
                like
                this one:</p>

            <p class="text-center"><img
                src="https://mlpforums.com/uploads/referral-0017832001448500924.gif">
            </p>

            <p>Note: the ad will be scaled down to 270x100 pixels
                when displayed on MLP Forums).</p>
        </li>


        <li>Wait for a reply! We&#39;ll review your application and get back to
            you
            as
            soon as possible with confirmation that you&#39;ll be included in
            the
            program and more details! If you didn&#39;t provide an advertisement
            or
            if
            there are any issues with your advertisement image, we&#39;ll help
            you
            get
            one ready to go at this stage!
        </li>

        <li>Once your advertisement is up, start using your Pony.fm links
            anywhere
            you link to a song!
        </li>
    </ol>

    <h2>I&#39;ve got to admit it sounds neat, but I&#39;m skeptical. Who can I
        contact
        for more information or answers to my questions?</h2>

    <p>Just shoot a message to Poniverse&#39;s Head of Public Relations, Mercury,
        at
        <a href="mailto:mercury@poniverse.net"
           target="_blank">mercury@poniverse.net</a> and he&#39;ll
        be happy to answer any questions you have about Pony.fm and the
        advertising deal offered here!</p>
</div>
