<div class="dashboard">
	<section class="recent-tracks">
		<div>
			<h1>
				<a href="#"><i class="icon-music"></i> see more</a>
				The Newest Tunes
			</h1>
			<ul class="tracks-listing stretch-to-bottom">
				<li ng-repeat="track in recentTracks">
					<img ng-src="{{track.covers.thumbnail}}" />
					<div class="icons">
						<span><i ng-class="{'icon-microphone-off': !track.is_vocal, 'icon-microphone': track.is_vocal}"></i></span>
						<a href="#"><i class="icon-star-empty"></i></a>
					</div>
					<div class="info">
						<a href="{{track.url}}" class="title">{{track.title}}</a>
							<span class="metadata">
								by: <a href="{{track.user.url}}">{{track.user.name}}</a> /
								<a href="#">{{track.genre.name}}</a> /
								{{track.published_at.date | momentFromNow}}
							</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="popular">
		<div>
			<h1>
				<a href="#"><i class="icon-star"></i> see more</a>
				What's Popular Today
			</h1>
			<ul class="tracks-listing stretch-to-bottom">
				<li ng-repeat="track in recentTracks">
					<img ng-src="{{track.covers.thumbnail}}" />
					<div class="icons">
						<span><i ng-class="{'icon-microphone-off': !track.is_vocal, 'icon-microphone': track.is_vocal}"></i></span>
						<a href="#"><i class="icon-star-empty"></i></a>
					</div>
					<div class="info">
						<a href="{{track.url}}" class="title">{{track.title}}</a>
							<span class="metadata">
								by: <a href="{{track.user.url}}">{{track.user.name}}</a> /
								<a href="#">{{track.genre.name}}</a> /
								{{track.published_at.date | momentFromNow}}
							</span>
					</div>
				</li>
			</ul>
		</div>
	</section>
</div>