<div class="row-fluid">
    <div class="col-md-6">
        <div ng-show="::artist.bio.trim().length">
            <h2>Bio</h2>
            <div class="description">
                <p marked="::artist.bio"></p>
            </div>
        </div>

        <div ng-show="::artist.is_archived">
            <h2>Archived profile</h2>
            <p>This is an archived artist profile that&#39;s part of a music archive. If it&#39;s yours, email
                <a href="mailto:logic@pony.fm" target="_blank">logic@pony.fm</a> to claim it!</p>
        </div>

        <pfm-comments type="user" resource="::artist"></pfm-comments>
    </div>
    <div class="col-md-6 cover-image">
        <h2>Recent Tracks</h2>
        <pfm-tracks-list tracks="::artist.latest_tracks" class="two-columns no-artist"></pfm-tracks-list>
    </div>
</div>
