@import-once 'variables';
@import-once 'base/bootstrap/bootstrap';

.site-content{
  .box-sizing(border-box);
  padding: 10px;

  h1 {
	margin: 0px;
	margin-bottom: 5px;
	font-size: 15pt;
	color: #C2889C;
	line-height: normal;
	overflow: hidden;
	font-weight: normal;

	a {
	  color: #555;
	  float: right;
	  font-size: 10pt;

	  &:hover {
		text-decoration: none;
	  }
	}
  }
}
