@import-once "base/bootstrap/bootstrap";

.recent-tracks {
  h1 {
	a {
	  display: block;
	  float: right;
	  font-size: 10pt;

	  margin-top: 8px;
	}
  }
}

.dashboard {
  section {
	.box-sizing(border-box);

	float: left;
	width: 50%;
	padding: 5px;
  }
}