@import-once 'base/bootstrap/bootstrap';
@import-once 'mixins';
@import-once 'variables';

@icon-size: 42px;

.tracks-listing.four-columns {
  li {
	float: left;
	width: 25%;
  }
}

.tracks-listing.three-columns {
  li {
	float: left;
	width: 33.3333%;
  }
}

.tracks-listing.two-columns {
  li {
	float: left;
	width: 50%;
  }
}

.single-player, .tracks-listing li .image {
  float: left;
  width: @icon-size;
  height: @icon-size;
  position: relative;

  .play-button {
	.transition(background 250ms ease-out);

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	line-height: 38px;
	text-align: center;
	font-size: 12pt;
	color: #fff;
	text-decoration: none;
	background: rgba(0, 0, 0, .4);
	display: none;

	&:hover {
	  background: rgba(0, 0, 0, .8);
	}
  }

  img {
	display: block;
	width: 100%;
  }
}

.tracks-listing {
  margin: 0px;
  padding: 0px;
  list-style: none;

  li {
	.clearfix();
	.box-sizing(border-box);

	&.empty {
	  .border-radius(0px);
	  background: lighten(@pfm-purple, 30%);
	  border: 1px solid lighten(@pfm-purple, 10%);
	  color: lighten(@pfm-purple, 3%);
	  float: none !important;
	  width: auto !important;
	  display: block;
	  margin-top: 5px;
	  padding: 5px;
	  font-size: 9pt;

	  &:hover {
		background-color: lighten(@pfm-purple, 30%);
	  }
	}

	line-height: normal;
	padding: 5px 0px;
	margin: 0px;
	padding-right: 10px;
	position: relative;

	.icons {
	  float: right;
	  display: block;
	  margin-top: 5px;

	  i.icon-microphone-off {
		opacity: .5;
	  }

	  i.icon-microphone-off, i.icon-microphone {
		color: #777;
	  }

	  a {
		text-decoration: none;
	  }
	}

	a.info {
	  display: block;
	  margin-left: (@icon-size + 10);

	  &:hover {
		text-decoration: none;
	  }

	  > span {
		display: block;
	  }
	}

	.title {
	  .ellipsis();

	  color: #000;
	  margin-top: 5px;
	}

	.artist, .stats, .genre, .stats-expanded {
	  color: #777;
	  font-size: 80%;
	}

	.stats {
	  float: right;
	  padding: 3px;

	  strong {
		color: darken(@pfm-purple, 25%);
	  }
	}

	.artist, .stats {
	  margin-top: 2px;
	}

	&:hover {
	  background: #dedede;

	  .image {
		.play-button {
		  display: block;
		}
	  }
	}

	&.is-playing {
	  background: #ddd;
	}

	&.is-favourited {
	  .icons {
		a.icon-favourite {
		  color: @orange;
		  text-decoration: none;

		  i {
			color: #FFD76E;
			text-shadow: 0px 0px 2px rgba(0,0,0,0.8);

			&:before {
			  content: "\f005"
			}
		  }
		}
	  }
	}
  }
}