@import-once 'base/bootstrap/bootstrap';
@import-once 'mixins';

.dashboard {
  section {
	.box-sizing(border-box);

	width: 50%;
	float: left;

	&:first-child {
	  padding-right: 10px;
	}

	&:last-child {
	  padding-left: 10px;
	}
  }
}

.tracks-listing {
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
  list-style: none;

  &.two-column {
	li {
	  .box-sizing(border-box);

	  width: 50%;
	  float: left;
	  margin: 0px;
	  padding: 5px;
	}
  }

  li {
	overflow: hidden;
	margin: 10px 0px;
	padding: 0px;

	&:hover {
	  background: #eee;

	  .image {
		.play-button {
		  display: block;
		}
	  }
	}

	.image {
	  height: 40px;
	  width: 40px;
	  float: left;
	  position: relative;

	  .play-button {
		.transition(background 250ms ease-out);
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		line-height: 38px;
		text-align: center;
		font-size: 12pt;
		color: #fff;
		text-decoration: none;
		background: rgba(0, 0, 0, .4);
		display: none;

		&:hover {
		  background: rgba(0, 0, 0, .8);
		}
	  }

	  img {
		.img-polaroid();
		padding: 3px;
		padding: 0px;
		display: block;
		height: 38px;
		width: 38px;
	  }
	}

	.icons {
	  float: right;
	  font-size: 13px;
	  margin-right: 2px;

	  a, span {
		display: block;
		float: left;
		margin: 0px 3px;
	  }

	  .icon-microphone-off {
		opacity: .5;
	  }
	}

	.info {
	  text-decoration: none;
	  display: block;
	  padding: 3px 0px;
	  margin-left: 40px;
	  padding-left: 5px;
	  line-height: normal;

	  .title {
		.ellipsis();
		display: block;
		text-decoration: none;
		color: @blue;
	  }

	  .metadata {
		margin-top: 3px;
		display: block;
		color: #777;
		font-size: 8pt;
	  }
	}
  }
}