<ul class="albums-listing {{::class}}">
    <li ng-repeat="album in albums track by album.id">
        <a ng-href="{{::album.url}}">
            <img class="image" pfm-src-loader="::album.covers.small" pfm-src-size="small" />
            <span class="info">
            <span class="title">{{::album.title}}</span>
            <span class="published">
                by <span>{{::album.user.name}}</span>
            </span>
                <span class="stats">
                    <strong>{{::album.stats.favourites}}</strong> <i class="icon-star"></i>
                    <strong>{{::album.stats.comments}}</strong> <i class="icon-comment"></i>
                    <strong>{{::album.stats.downloads}}</strong> <i class="icon-download"></i>
                </span>
            </span>
        </a>
    </li>
    <li ng-show="!albums.length" class="empty">
        No albums found&hellip;
    </li>
</ul>
