<div layout="row" layout-xs="column" layout-wrap>
    <a ng-repeat="album in albums track by album.id" ng-href="{{::album.url}}" class="clickable" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
        <md-card class="album">
            <img class="md-card-image" pfm-src-loader="::album.covers.normal" pfm-src-size="normal">

            <md-card-content>
                <span>{{::album.title}}</span>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center" class="album-stats">
                <span><md-icon>favorite</md-icon> {{::album.stats.favourites}}</span>
                <span><md-icon>comment</md-icon> {{::album.stats.comments}}</span>
                <span><md-icon>file_download</md-icon> {{::album.stats.downloads}}</span>
            </md-card-actions>
        </md-card>
    </a>
</div>
