<div ng-show="auth.isLogged">
    <md-button class="md-icon-button" aria-label="Favourite" ng-hide="resource.user_data.is_favourited" ng-click="toggleFavourite()">
        <md-tooltip md-direction="bottom" md-delay="200">Favourite</md-tooltip>
        <md-icon>favorite_border</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Favourite" ng-show="resource.user_data.is_favourited" ng-click="toggleFavourite()">
        <md-tooltip md-direction="bottom" md-delay="200">In your favourites</md-tooltip>
        <md-icon>favorite</md-icon>
    </md-button>
</div>
