<div class="image-upload" ng-class="{'has-error': error != null}">
	<div class="preview" ng-class="{canOpen: isImageLoaded}" ng-click="previewImage()"><img ng-show="isImageLoaded" /></div>
	<p>
		Image must be a PNG that is at least 350x350. <br />
		<input type="file" onchange="angular.element(this).scope().setImageFile(this)" />
	</p>
	<div class="btn-group">
		<a href="#" pfm-popup="image-selector" class="btn btn-small"><i class="icon-picture"></i> Gallery</a>
		<a href="#" pfm-eat-click ng-click="uploadImage()" class="btn btn-info btn-small"><i class="icon-upload"></i> Upload</a>
		<a href="#" pfm-eat-click ng-click="clearImage()" class="btn btn-danger btn-small" ng-show="isImageLoaded"><i class="icon-remove"></i></a>
	</div>
	<div id="image-selector" class="pfm-popup image-selector">
		<ul>
			<li ng-repeat="image in images" ng-click="selectGalleryImage(image)">
				<img ng-src="{{image.urls.small}}" />
			</li>
		</ul>
	</div>
	<div class="error" ng-show="error != null">{{error}}</div>
</div>