<ul class="playlists-listing {{::class}}">
    <li ng-repeat="playlist in playlists track by playlist.id">
        <a ng-href="{{::playlist.url}}">
            <img class="image" pfm-src-loader="::playlist.covers.small" pfm-src-size="small" />
            <span class="info">
                <span class="title">{{::playlist.title}}</span>
                <span class="published">
                    by {{::playlist.user.name}}
                </span>
                <span class="stats">
                    <strong>{{::playlist.stats.favourites}}</strong>  <i class="icon-star"></i>
                    <strong>{{::playlist.stats.comments}}</strong> <i class="icon-comment"></i>
                    <strong>{{::playlist.stats.downloads}}</strong> <i class="icon-download"></i>
                </span>
            </span>
        </a>
    </li>
    <li ng-if="!playlists.length" class="empty">
        No playlists found&hellip;
    </li>
</ul>
