<ul class="playlists-listing {{class}}">
	<li ng-repeat="playlist in playlists" bindonce>
		<a href="{{playlist.url}}">
			<img class="image" ng-src="{{playlist.covers.small}}"/>
			<span class="info">
				<span class="title">{{playlist.title}}</span>
				<span class="published">
					by {{playlist.user.name}}
				</span>
				<span class="stats">
					<strong bo-text="playlist.stats.favourites"></strong> <i class="icon-star"></i>
					<strong bo-text="playlist.stats.comments"></strong> <i class="icon-comment"></i>
					<strong bo-text="playlist.stats.downloads"></strong> <i class="icon-download"></i>
				</span>
			</span>
		</a>
	</li>
	<li ng-show="!playlists.length" class="empty">
		No playlists found...
	</li>
</ul>
