<div class="search" ng-blur="searchInProgress = false">
    <input
        class="search-input"
        type="text"
        placeholder="Search&hellip;"
        ng-model="searchQuery"
        pfm-popup="search-results"
        pfm-popup-close-on-click
    />

    <div class="search-results pfm-popup" id="search-results">
        <h3 class="-section-header">Matching tracks</h3>
        <pfm-tracks-list tracks="tracks"></pfm-tracks-list>

        <h3 class="-section-header">Matching albums</h3>
        <pfm-albums-list albums="albums"></pfm-albums-list>

        <h3 class="-section-header">Matching playlists</h3>
        <pfm-playlists-list playlists="playlists"></pfm-playlists-list>

        <h3 class="-section-header">Matching users</h3>
        <ol>
            <li bindonce ng-repeat="user in users track by user.id" bo-text="user.display_name"></li>
        </ol>
    </div>
</div>
