<ul class="tracks-listing {{class}}">
	<li ng-repeat="track in tracks" ng-class="{'can-favourite': auth.isLogged, 'is-favourited': track.is_favourited, 'is-playing': track.isPlaying}">
		<div class="image">
			<a href="#" class="play-button" pfm-eat-click ng-click="play(track)">
				<i class="icon-play" ng-show="!track.isPlaying"></i>
				<i class="icon-pause" ng-hide="!track.isPlaying"></i>
			</a>
			<img ng-src="{{track.covers.thumbnail}}" />
		</div>
		<div class="icons">
			<span><i ng-class="{'icon-microphone-off': !track.is_vocal, 'icon-microphone': track.is_vocal}"></i></span>
			<a pfm-eat-click class="icon-favourite" href="#" ng-click="toggleFavourite(track)" ng-show="auth.isLogged"><i class="icon-star-empty"></i></a>
		</div>
		<a class="info" href="{{track.url}}">
			<span class="title">{{track.title}}</span>
			<span class="published-at">{{track.published_at.date | momentFromNow}}</span>
			<span class="artist">{{track.user.name}} / {{track.genre.name}}</span>
		</a>
	</li>
	<li ng-show="!tracks.length" class="empty">
		No tracks found...
	</li>
</ul>