<ul class="tracks-listing {{class}}">
    <li bindonce ng-repeat="track in tracks track by track.id" ng-class="{'can-favourite': auth.isLogged, 'is-favourited': auth.isLogged && track.user_data.is_favourited, 'is-playing': track.isPlaying, 'has-played': auth.isLogged && track.user_data.views}">
        <div class="image">
            <a href="#" class="play-button" pfm-eat-click ng-click="play(track)">
                <i class="icon-play" ng-show="!track.isPlaying"></i>
                <i class="icon-pause" ng-hide="!track.isPlaying"></i>
            </a>
            <img pfm-src-loader="track.covers.thumbnail" pfm-src-size="thumbnail" />
        </div>
        <div class="icons">
            <span><i bo-class="{'icon-microphone-off': !track.is_vocal, 'icon-microphone': track.is_vocal}"></i></span>
            <a pfm-eat-click class="icon-favourite" href="#" ng-click="toggleFavourite(track)" bo-show="auth.isLogged"><i class="icon-star-empty"></i></a>
        </div>
        <a class="info" bo-href="track.url">
            <span class="title" bo-text="track.title"></span>
            <span class="stats" bo-title="track.stats.favourites +' Favourites / '+ track.stats.comments +' Comments / '+ track.stats.plays +' Plays'">
                <strong bo-text="track.stats.favourites"></strong>f
                <strong bo-text="track.stats.comments"></strong>c
                <strong bo-text="track.stats.plays"></strong>p
            </span>
            <span class="artist" bo-text="track.user.name + ' / ' + track.genre.name"></span>
        </a>
    </li>
    <li ng-show="!tracks.length" class="empty">
        No tracks found&hellip;
    </li>
</ul>
