<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    <button type="button" class="close" ng-click="$hide()" ng-hide="isLoading">&times;</button>
                    Pony.fm source &amp; credits
                </h4>
            </div>
            <div class="modal-body">
              <p>Pony.fm was created to organize the <em>My Little Pony</em> community&#39;s fan music.
              The project is maintained by <a href="https://poniverse.net/" target="_blank">Poniverse</a>, an
                organization devoted to building and operating fan sites for the pony community.</p>

              <h2>Are you a developer?</h2>
              <p>Pony.fm is open-sourced under the GNU Affero General Public License (AGPL).
              Join the project&#39;s development at <a href="https://github.com/Poniverse/Pony.fm" target="_blank">GitHub</a>!</p>

              <h2>Open-source credits</h2>
              <p>Pony.fm would not be possible without the efforts of the open-source community.
              We thank the following projects, in no particular order, for providing the building
              blocks for our own.</p>
              <ul>
                <li><a href="http://laravel.com/" target="_blank">Laravel</a> - our backend framework of choice</li>
                <li><a href="https://angularjs.org/" target="_blank">Angular.js</a> - our front-end framework of choice</li>
                <li><a href="https://secure.php.net/" target="_blank">PHP</a> - for providing a batteries-loaded language to build great web apps in</li>
                <li><a href="https://getcomposer.org/" target="_blank">Composer</a> - for making the management of PHP dependencies sane</li>
                <li><a href="https://ffmpeg.org/" target="_blank">FFmpeg</a> - for analyzing and dealing with every audio file we can throw at it</li>
                <li><a href="http://guzzlephp.org/" target="_blank">Guzzle</a> - for adding sanity to the art of making HTTP requests</li>
                <li><a href="https://github.com/CodeScaleInc/ffmpeg-php" target="_blank">FFmpegPHP</a> - for providing a sweet PHP interface to ffmpeg</li>
                <li><a href="https://github.com/barryvdh/laravel-ide-helper" target="_blank">Laravel IDE Helper Generator</a> - for making our IDE useful</li>
                <li><a href="https://github.com/In-Touch/laravel-newrelic" target="_blank">Laravel NewRelic Service Provider</a> - for making it easy to monitor Pony.fm&#39;'s performance</li>
                <li><a href="https://www.vagrantup.com/" target="_blank">Vagrant</a> - for making cross-platform dev environments possible</li>
                <li><a href="http://atomicparsley.sourceforge.net/" target="_blank">AtomicParsley</a> - for making it easy to work with tags in M4A files</li>
                <li><a href="https://xiph.org/flac/" target="_blank">FLAC</a> - FLAC is best audio codec /)</li>
                <li><a href="http://www.vorbis.com/" target="_blank">OGG Vorbis</a> - A great open-source audio codec</li>
                <li><a href="http://www.audiocoding.com/faac.html" target="_blank">FAAC</a> - for encoding our AAC files</li>
                <li><a href="http://lame.sourceforge.net/" target="_blank">LAME</a> - for encoding our MP3 files</li>
                <li><a href="http://gulpjs.com/" target="_blank">gulp</a> - for being our asset pipeline</li>
                <li><a href="https://nodejs.org/" target="_blank">Node.js</a> - for making JavaScript useful outside the browser</li>
                <li><a href="http://www.schillmania.com/projects/soundmanager2/" target="_blank">SoundManager</a> - for smoothing out cross-browser audio playback</li>
                <li><a href="http://momentjs.com/" target="_blank">Moment.js</a> - for making JavaScript dates sane</li>
                <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> - for its front-end components and making layouts easy</li>
                <li><a href="http://lesscss.org/" target="_blank">LESS</a> - for (almost) making CSS awesome</li>
                <li><a href="https://jquery.com/" target="_blank">jQuery</a> - for being useful all over the place</li>
                <li><a href="https://github.com/mgonto/angularytics" target="_blank">Angularytics</a> - for making Google Analytics useful in a single-page app</li>
                <li><a href="https://github.com/angular-ui/ui-router" target="_blank">UI-Router</a> - for making non-trivial Angular.js routes possible</li>
                <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">UI-Bootstrap</a> - for making Bootstrap and Angular.js get along</li>
                <li><a href="https://github.com/VentureCraft/revisionable" target="_blank">Revisionable</a> - for making audit logs easy</li>
                <li><a href="https://github.com/jackmoore/colorbox" target="_blank">Colorbox</a> - for allowing us to have pretty lightboxes</li>
            	<li><a href="https://github.com/chjj/marked" target="_blank">Marked</a> - for the Markdown parser</li>
            	<li><a href="https://github.com/Hypercubed/angular-marked" target="_blank">angular-marked</a> - for giving us an Angular way to use Marked</li>
                <li><a href="http://www.chartjs.org/" target="_blank">chart.js</a> - for giving us beautiful, programmable charts</li>
                <li><a href="http://jtblin.github.io/angular-chart.js/" target="_blank">angular-chart.js</a> - for making using chart.js with Angular easy</li>
              </ul>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" ng-click="$hide()" ng-disabled="isLoading">Close</a>
            </div>
        </div>
    </div>
</div>
