<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Delete {{ playlistToDelete.title }}</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{ playlistToDelete.title }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-danger" ng-click="confirmDeletePlaylist();$hide()">Yes</button>
                <button type="button" class="btn btn-flat btn-primary" ng-click="$hide()">No</button>
            </div>
        </div>
    </div>
</div>
