<md-dialog ng-cloak class="modal-dialog">
    <md-dialog-content>
        <div class="modal-body">
            <h2>Share '{{track.title}}'</h2>

            <h5>Shortlink</h5>
            <input type="text" ng-model="track.share.url" />

            <h5>HTML Embed <small>(websites, blogs)</small></h5>
            <textarea type="text" ng-model="track.share.html"></textarea>

            <h5>BBCode Embed <small>(forums)</small></h5>
            <textarea type="text" ng-model="track.share.bbcode"></textarea>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>
    </md-dialog-actions>
</md-dialog>
