<div class="modal-header">
	<h3>
		<button type="button" class="close" ng-click="close()" ng-hide="isLoading">&times;</button>
		{{track.title}}
	</h3>
</div>
<div class="modal-body">
	<h2>Shortlink</h2>
	<input type="text" ng-model="track.share.url" />

	<h2>HTML Embed <small>(websites, blogs)</small></h2>
	<textarea type="text" ng-model="track.share.html"></textarea>

	<h2>BBCode Embed <small>(forums)</small></h2>
	<textarea type="text" ng-model="track.share.bbcode"></textarea>
</div>
<div class="modal-footer">
	<a class="btn cancel" ng-click="close()" ng-disabled="isLoading">Close</a>
</div>
