<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Failed to load track</h4>
            </div>
            <div class="modal-body">
                <p>This track is not available. It may still be processing. Please check back in a few minutes.</p>
                <p>If you're still getting this error after 30 minutes, please email <a href="mailto:logic@pony.fm">logic@pony.fm</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$hide()">Ok</button>
            </div>
        </div>
    </div>
</div>
