<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    <button type="button" class="close" ng-click="$hide()" ng-hide="isLoading">&times;</button>
                    {{track.title}}
                </h4>
            </div>
            <div class="modal-body">
                <h2>Shortlink</h2>
                <input type="text" ng-model="track.share.url" />

                <h2>HTML Embed <small>(websites, blogs)</small></h2>
                <textarea type="text" ng-model="track.share.html"></textarea>

                <h2>BBCode Embed <small>(forums)</small></h2>
                <textarea type="text" ng-model="track.share.bbcode"></textarea>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" ng-click="$hide()" ng-disabled="isLoading">Close</a>
            </div>
        </div>
    </div>
</div>
