<form novalidate ng-submit="saveAlbum()">
	<ul class="toolbar">
		<li>
			<button type="submit" class="btn" ng-class="{disabled: !isDirty || isSaving, 'btn-primary': isDirty}">
				Save Changes
				<i ng-show="isSaving" class="icon-cog icon-spin icon-large"></i>
			</button>
		</li>
		<li class="delete" ng-show="!isNew"><a ng-class="{disabled: isSaving}" class="btn btn-danger" href="#" ng-click="deleteAlbum()" pfm-eat-click>Delete Album</a></li>
	</ul>
	<div class="strech-to-bottom">
		<div class="form-row" ng-class="{'has-error': errors.title != null}">
			<label for="title" class="strong">Title:</label>
			<input ng-disabled="isSaving" ng-change="touchModel()" placeholder="Album Title" type="text" id="title" ng-model="album.title" />
			<div class="error">{{errors.title}}</div>
		</div>
		<div class="form-row">
			<label for="description" class="strong">Description:</label>
			<textarea ng-disabled="isSaving" ng-change="touchModel()" placeholder="Description (optional)" id="description" ng-model="album.description"></textarea>
			<div class="error">{{errors.description}}</div>
		</div>
		<div class="form-row" ng-class="{'has-error': errors.cover != null}">
			<label class="strong">Album Cover: </label>
			<pfm-image-upload />
		</div>
	</div>
</form>