<div>
	<ul class="dropdowns">
		<li class="dropdown">
			<a class="dropdown-toggle btn">
				Published: <strong>{{filter.published.title}}</strong>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="filter in filters.published">
					<a pfm-eat-click href="#" ng-click="updateFilter('published', filter)">{{filter.title}}</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle btn">
				Sort: <strong>{{filter.sort.title}}</strong>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="filter in filters.sort">
					<a pfm-eat-click href="#" ng-click="updateFilter('sort', filter)">{{filter.title}}</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle btn">
				Type: <strong>{{titles.trackTypes}}</strong>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="type in filters.trackTypes" ng-class="{selected: filter.trackTypes[type.id]}">
					<a pfm-eat-click href="#" ng-click="toggleFilter('trackTypes', type.id); $event.stopPropagation();">{{type.title}}</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle btn">
				Genera: <strong>{{titles.genres}}</strong>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="genre in filters.genres" ng-class="{selected: filter.genres[genre.id]}">
					<a pfm-eat-click href="#" ng-click="toggleFilter('genres', genre.id);  $event.stopPropagation();">{{genre.title}}</a>
				</li>
			</ul>
		</li>
	</ul>

	<div class="two-pane-view" ng-class="{open: data.selectedTrack != null, closed: data.selectedTrack == null}">
		<div class="list">
			<ul class="account-tracks-listing stretch-to-bottom">
				<li ng-repeat="track in tracks" ng-class="{selected: track.id == data.selectedTrack.id, 'is-not-published': !track.is_published}">
					<a href="/account/tracks/edit/{{track.id}}" ng-click="selectTrack(track)">
						<img class="image" ng-src="{{track.cover_url}}" />
						<span class="title">{{track.title}}</span>
						<span class="published">{{track.created_at | pfmdate:'MM/dd/yyyy'}}</span>
					</a>
				</li>
			</ul>
		</div>

		<ui-view class="editor"></ui-view>
	</div>
</div>