<ul class="dropdowns">
	<li class="dropdown">
		<a class="dropdown-toggle btn" ng-class="{'btn-info': query.filters.trackTypes.selectedArray.length}">
			Type: <strong>{{query.filters.trackTypes.title}}</strong>
		</a>
		<ul class="dropdown-menu">
			<li ng-repeat="type in filters.trackTypes.values" ng-class="{selected: query.isIdSelected('trackTypes', type.id)}">
				<a class="dont-close" pfm-eat-click href="#" ng-click="toggleListFilter('trackTypes', type.id); $event.stopPropagation();"><i class="icon-plus"></i></a>
				<a pfm-eat-click href="#" ng-click="setListFilter('trackTypes', type.id);">{{type.title}}</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle btn" ng-class="{'btn-info': query.filters.showSongs.selectedArray.length}">
			Show Songs: <strong>{{query.filters.showSongs.title}}</strong>
		</a>
		<ul class="dropdown-menu">
			<li ng-repeat="song in filters.showSongs.values" ng-class="{selected: query.isIdSelected('showSongs', song.id)}">
				<a class="dont-close" pfm-eat-click href="#" ng-click="toggleListFilter('showSongs', song.id); $event.stopPropagation();"><i class="icon-plus"></i></a>
				<a pfm-eat-click href="#" ng-click="setListFilter('showSongs', song.id);">{{song.title}}</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle btn" ng-class="{'btn-info': query.filters.genres.selectedArray.length}">
			Genre: <strong>{{query.filters.genres.title}}</strong>
		</a>
		<ul class="dropdown-menu">
			<li ng-repeat="genre in filters.genres.values" ng-class="{selected: query.isIdSelected('genres', genre.id)}">
				<a class="dont-close" pfm-eat-click href="#" ng-click="toggleListFilter('genres', genre.id); $event.stopPropagation();"><i class="icon-plus"></i></a>
				<a pfm-eat-click href="#" ng-click="setListFilter('genres', genre.id);">{{genre.title}}</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle btn" ng-class="{'btn-info': !query.filters.isVocal.isDefault}">
			Is Vocal: <strong>{{query.filters.isVocal.title}}</strong>
		</a>
		<ul class="dropdown-menu">
			<li ng-repeat="item in filters.isVocal.values" ng-class="{selected: item == query.filters.isVocal}">
				<a pfm-eat-click href="#" ng-click="setFilter('isVocal', item);">{{item.title}}</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle btn" ng-class="{'btn-info': !query.filters.sort.isDefault}">
			Order: <strong>{{query.filters.sort.title}}</strong>
		</a>
		<ul class="dropdown-menu">
			<li ng-repeat="filter in filters.sort.values" ng-class="{selected: filter == query.filters.sort}">
				<a pfm-eat-click href="#" ng-click="setFilter('sort', filter)">{{filter.title}}</a>
			</li>
		</ul>
	</li>
</ul>

<div class="pagination" ng-show="totalPages > 1">
	<ul>
		<li ng-class="{disabled: !prevPage}"><a href="#" ng-click="gotoPage(prevPage);" pfm-eat-click>Prev</a></li>
		<li ng-repeat="page in pages" ng-class="{active: page == currentPage}">
			<a href="#" ng-click="gotoPage(page);" pfm-eat-click>{{page}}</a>
		</li>
		<li ng-class="{disabled: !nextPage}"><a href="#" ng-click="gotoPage(nextPage);" pfm-eat-click>Next</a></li>
	</ul>
</div>

<ui-view></ui-view>