<div class="resource-details track-details" bindonce="track">
    <ul class="dropdowns">
        <li class="dropdown">
            <a href="#" class="btn btn-small btn-info dropdown-toggle" ng-disabled="track.is_downloadable == 0">
                Downloads
            </a>
            <ul class="dropdown-menu" ng-show="track.is_downloadable == 1">
                <li bindonce ng-repeat="format in track.formats" ng-hide="isInProgress">
                    <a target="_blank" ng-if="!format.isCacheable" bo-href="format.url">
                        <span bo-text="format.name"></span>
                        <small bo-text="'(' + format.size + ')'"></small>
                    </a>
                    <a ng-if="format.isCacheable" ng-click="getCachedTrack(track.id, format.name);" href="">
                        <span bo-text="format.name"></span>
                        <small bo-text="'(' + format.size + ')'"></small>
                    </a>
                </li>
                <li ng-show="isInProgress" class="cache-loading"><img src="/images/loading.gif" /></li>
                <li ng-show="isInProgress" class="cache-loading"><small>We&#39;re getting your download ready! This'll take a few seconds.</small></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="btn btn-small dropdown-toggle" ng-show="auth.isLogged">
                Add to Playlist
            </a>
            <ul class="dropdown-menu">
                <li bindonce ng-repeat="playlist in playlists">
                    <a ng-class="{disabled: playlist.message, 'btn-success': playlist.message}" bo-href="playlist.url" pfm-eat-click ng-click="addToPlaylist(playlist); $event.stopPropagation()">
                        <span ng-hide="playlist.message" bo-text="playlist.title"></span>
                        <span ng-show="playlist.message">{{playlist.message}}</span>
                    </a>
                </li>
                <li><a href="#" class="add-btn" pfm-eat-click ng-click="addToNewPlaylist()">Add to New Playlist</a></li>
            </ul>
        </li>
        <li><a href="#" class="btn" pfm-eat-click ng-click="share()">Share or Embed</a></li>
        <li><pfm-favourite-button resource="track" type="track"></pfm-favourite-button></li>
        <li bo-show="track.permissions.edit"><a class="btn btn-small" bo-href="'/account/tracks/edit/' + track.id">Edit</a></li>
    </ul>

    <header>
        <pfm-track-player track="track"></pfm-track-player>
        <h1 bo-text="track.title"></h1>
        <h2>
            <span bo-show="track.album">
                from: <a bo-href="track.album.url" bo-text="track.album.title"></a>
            </span>

            by: <a bo-href="track.user.url" bo-text="track.user.name"></a>
        </h2>
    </header>

    <div class="stretch-to-bottom details-columns">
        <div class="right">
            <img class="cover" pfm-src-loader="track.covers.normal" pfm-src-size="normal" />

            <div class="share-buttons" pfm-share-buttons>
                <a class="tumblr" bo-href="track.share.tumblrUrl" title="Share on Tumblr" style="display:inline-block; overflow:hidden; width:20px; height:20px; background:url('/images/tumblr-share.png') top left no-repeat transparent;"></a>
                <div class="facebook fb-like" data-href="{{track.url}}" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
                <iframe class="twitter" allowtransparency="true" frameborder="0" scrolling="no" bo-src="track.share.twitterUrl" style="width:130px; height:20px;"></iframe>
            </div>

            <ul class="stats">
                <li>Published: <strong bo-text="track.published_at | pfmdate:'medium'"></strong></li>
                <li>Views: <strong bo-text="track.stats.views"></strong></li>
                <li>Plays: <strong bo-text="track.stats.plays"></strong></li>
                <li>Downloads: <strong bo-text="track.stats.downloads"></strong></li>
                <li>Favourites: <strong bo-text="track.stats.favourites"></strong></li>
            </ul>
        </div>
        <div class="left">
            <div class="description" bo-show="track.description.length">
                <h2>Description</h2>
                <p bo-html="track.description | noHTML | newlines"></p>
            </div>

            <div bo-show="track.is_vocal && track.lyrics.length" class="lyrics-panel">
                <h2>Lyrics</h2>
                <div class="lyrics revealable">
                    <div class="reveal">
                        <a href="#">Click to reveal full lyrics...</a>
                    </div>
                    <p class="content" bo-html="track.lyrics | noHTML | newlines"></p>
                </div>
            </div>

            <pfm-comments type="track" resource="track"></pfm-comments>
        </div>
    </div>
</div>
