<div class="stretch-to-bottom details-columns" layout="row" layout-xs="column">
    <div flex="50" flex-xs="100">
        <div class="stats">
            <p>Released on {{::track.readableDate}}</p>
            <p>
                <ng-pluralize count="::track.stats.views"
                when="{'0': '0 views',
                     'one': '1 view',
                     'other': '{} views'}">
                </ng-pluralize> |
                <ng-pluralize count="::track.stats.plays"
                when="{'0': '0 plays',
                     'one': '1 play',
                     'other': '{} plays'}">
                </ng-pluralize> |
                <ng-pluralize count="::track.stats.downloads"
                when="{'0': '0 downloads',
                     'one': '1 download',
                     'other': '{} downloads'}">
                </ng-pluralize> |
                <ng-pluralize count="::track.stats.favourites"
                when="{'0': '0 favourites',
                     'one': '1 favourite',
                     'other': '{} favourites'}">
                </ng-pluralize>
            </p>
        </div>

        <div class="description" ng-if="track.description.length">
            <h2>Description</h2>
            <p marked="track.description"></p>
        </div>

        <div ng-if="track.is_vocal && track.lyrics.length" class="lyrics-panel">
            <h2>Lyrics</h2>
            <div class="lyrics revealable">
                <div class="reveal" ng-show="track.lyrics.length > 300">
                    <a href="#">Click to reveal full lyrics&hellip;</a>
                </div>
                <p class="content" ng-bind-html="track.lyrics | noHTML | nl2br"></p>
            </div>
        </div>
    </div>

    <div flex="50" flex-xs="100">
        <pfm-comments type="track" resource="track"></pfm-comments>
    </div>
</div>
