<a href="{{::track.url}}" class="btn chart-exit">Return to track</a>
<h1>Geeky Stats For Geeky People (BETA)</h1>
<h4>Plays over time</h4>
<div class="chart-container">
    <canvas id="line" class="chart chart-line" chart-data="playsData"
        chart-labels="playsLabels" chart-legend="true" chart-series="series">
    </canvas>
    <button class="btn btn-primary" ng-class="{ selected: totalSelected }" ng-click="totalClick()">Cumulative</button> <button class="btn btn-primary" ng-class="{ selected: !totalSelected }" ng-click="dailyClick()">{{ dailyText }}</button>
</div>
