<div class="resource-details album-details" bindonce="album">
	<ul class="dropdowns">
		<li class="dropdown">
			<a href="#" class="btn btn-small btn-info dropdown-toggle">
				Downloads
			</a>
			<ul class="dropdown-menu">
				<li bindonce ng-repeat="format in album.formats"><a target="_blank" bo-href="format.url"><span bo-text="format.name"></span> <small bo-text="'(' + format.size + ')'"></small></a></li>
			</ul>
		</li>
		<li><a href="#" class="btn">Share or Embed</a></li>
		<li><pfm-favourite-button resource="album" type="album"></pfm-favourite-button></li>
	</ul>

	<header>
		<h1 bo-text="album.title"></h1>
		<h2>
			by: <a bo-href="album.user.url" bo-text="album.user.name"></a>
		</h2>
	</header>

	<div class="stretch-to-bottom details-columns">
		<div class="right">
			<img class="cover" bo-src="album.covers.normal" />

			<ul class="stats">
				<li>Published: <strong bo-text="album.published_at | pfmdate:'short'"></strong></li>
				<li>Views: <strong bo-text="album.stats.views"></strong></li>
				<li>Downloads: <strong bo-text="album.stats.downloads"></strong></li>
				<li>Favourites: <strong bo-text="album.stats.favourites"></strong></li>
			</ul>
		</div>

		<div class="left">
			<div class="description" bo-show="album.description.length">
				<h2>Description</h2>
				<p bo-html="album.description | noHTML | newlines"></p>
			</div>

			<h2>Tracks</h2>
			<pfm-tracks-list tracks="album.tracks" class="condensed no-artist"></pfm-tracks-list>

			<pfm-comments type="album" resource="album"></pfm-comments>
		</div>
	</div>
</div>